body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

#pseudo, #chat, #saisie {
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#pseudo label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

#champ_pseudo, #champ_message {
    width: calc(100% - 10px);
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

#champ_message {
    height: 100px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.message {
    display: block;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.message:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.info_message {
    font-size: 0.8em;
    color: #666;
}
